<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <!--<add connectionString="Data Source=WIN-KNLI4ALPFJ9\SQLEXPRESS;Initial Catalog=faaliyet;User Id=kkusinav; Password=fh_2017;" name="Faaliyet" />-->
     <!--<add name="Faaliyet" connectionString="Data Source=DELL-BILGISAYAR\SQLEXPRESS;Initial Catalog=Faaliyet;Integrated Security=True"/>-->
    <add name="Faaliyet" connectionString="Data Source=MF;Initial Catalog=Faaliyet;Integrated Security=True"/>
  </connectionStrings>
</configuration>
